.apoiadores {
  padding: 60px 0;

  .apoiadores__header {
    text-align: center;
    margin-bottom: 30px;

    h2 {
      font-family: $font-primary;
      font-size: 40px;
      color: $info-dark;
    }
  }
  .apoiadores__slide {
    padding: 0 70px;
    position: relative;

    .apoiadores__slide-items {
      .apoiadores__slide-item {
        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        img {
          // width: 20%;
          // height: auto;
          // padding: 0 40px;
        }
      }
    }

    .apoiadores__slide-buttons {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      left: 0;

      .apoiadores__slide-button-prev,
      .apoiadores__slide-button-next {
        width: 20px;
        height: 30px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        color: transparent;
        background-size: contain;
      }
      .apoiadores__slide-button-prev {
        background-image: url(../img/arrow-left-grey.png);
      }
      .apoiadores__slide-button-next {
        background-image: url(../img/arrow-right-grey.png);
      }
    }
  }
}
