.doe-opts {
  .doe-opts__inside {
    .doe-opts__items {
      .doe-opts__item {
        .doe-opts__item__inside {
          .doe-opts__item-icon {
          }
          .doe-opts__item-icon.hospital {
          }
          .doe-opts__item-icon.paraisopolis {
          }
          .doe-opts__item-icon.einstein {
          }
          .doe-opts__item-icon.recursos {
          }
          .doe-opts__item-title {
            h3 {
              span {
              }
              strong {
              }
            }
          }
          .doe-opts__item-text {
          }
        }
      }
    }
    .doe-opts__cta {
      a.doe-opts__cta-button {
      }
    }
  }
}

@media only screen and (min-width: $desktop-up) {
  .doe-opts {
    padding: 70px 0;

    .doe-opts__inside {
      .doe-opts__items {
        display: flex;
        justify-content: space-between;

        .doe-opts__item.hospital {
          .doe-opts__item-icon {
            background-image: url(../img/icon-hospitalar.png);
          }
          .doe-opts__item-title {
            h3 {
              span {
                position: absolute;
                left: 70px;
                top: -4px;
              }
            }
          }
        }

        .doe-opts__item.paraisopolis {
          .doe-opts__item-icon {
            background-image: url(../img/icon-paraisopolis.png);
          }
          .doe-opts__item-title {
            h3 {
              span {
                position: absolute;
                left: 56px;
                top: -7px;
              }
            }
          }
        }

        .doe-opts__item.einstein {
          .doe-opts__item-icon {
            background-image: url(../img/icon-residencial.png);
          }
          .doe-opts__item-title {
            h3 {
              span {
                position: absolute;
                left: 90px;
                top: -5px;
              }
            }
          }
        }

        .doe-opts__item.recursos {
          .doe-opts__item-icon {
            background-image: url(../img/icon-recursos.png);
          }
          .doe-opts__item-title {
            h3 {
              span {
                position: absolute;
                left: 80px;
              }
            }
          }
        }

        .doe-opts__item {
          max-width: 300px;
          text-align: center;
          padding: 20px 30px;

          .doe-opts__item__inside {
            .doe-opts__item-icon {
              width: 90px;
              height: 90px;
              margin: 0 auto;
              margin-bottom: 10px;
              background-position: center;
              background-repeat: no-repeat;
              background-size: contain;
            }

            .doe-opts__item-title {
              position: relative;

              h3 {
                span {
                  font-family: $font-secondary;
                  color: $info-lighter;
                  font-size: 20px;
                  display: block;
                }
                strong {
                  display: block;
                  font-family: $font-primary;
                  font-size: 40px;
                  color: $pink;
                  margin-top: 20px;
                }
              }
            }
            .doe-opts__item-text {
              font-size: 15px;
              font-family: $font-secondary;
              color: $info-dark;
            }
          }
        }
      }
      .doe-opts__cta {
        padding-top: 20px;

        a.doe-opts__cta-button {
          width: 100%;
          display: block;
          text-decoration: none;
          font-size: 35px;
          color: $white;
          background: $info-lighter;
          text-align: center;
          border-radius: 10px;
          padding: 5px;
          font-family: $font-primary;
        }
      }
    }
  }
}
