.einstein-numeros {
  background: $blue-bg;
  padding: 60px 0 70px;

  .einstein-numeros__items {
    display: flex;
    justify-content: space-between;

    .einstein-numeros__item.atendimentos {
      span.first {
        position: absolute;
        top: 30px;
      }
      span.second {
        position: absolute;
        bottom: 0px;
      }
      strong {
      }
    }
    .einstein-numeros__item.setores {
      span {
        position: absolute;
        bottom: 0px;
      }
      strong {
        color: $warning;
      }
    }
    .einstein-numeros__item.voluntarios {
      span.first {
        position: absolute;
        top: 26px;
        right: -9px;
      }
      span.second {
        position: absolute;
        bottom: 0;
        left: 20px;
      }
      strong {
        color: $info-dark;
      }
    }
    .einstein-numeros__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      span {
        color: $info-dark;
        font-family: $font-secondary;
        font-size: 30px;
        font-weight: 200;
      }

      strong {
        color: $info-lighter;
        font-family: $font-primary;
        font-size: 120px;

        span {
          color: inherit;
          font-family: inherit;
          font-size: inherit;
          position: relative !important;
          bottom: 0 !important;
        }
      }
    }
  }
}
