$primary: "";
$primary-light: "";
$primary-lighter: "";
$primary-dark: "";
$primary-darker: "";
$primary-transparent: "";

$secondary: "";
$secondary-light: "";
$secondary-lighter: "";
$secondary-dark: "";
$secondary-darker: "";

$dark: "";
$dark-transparent: "";
$light: "";

$black: #000;
$white: #fff;

$info: "";
$info-dark: #005a9b;
$info-lighter: #72b9f5;

$pink: #f88f9e;

$grey: #cacbcb;
$grey-dark: "";
$grey-light: "";

$warning: #f8b506;
$warning-light: "";

$danger: "";
$danger-dark: "";

$success-dark: "";
$success: "";
$success-light: "";
$success-lighter: "";
